@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body,
html,
#root,
.App {
  margin: 0;
  height: 100%;
  background-color: bisque;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* fade */

* {
  transition: right 0.2s ease-in, left 0.2s ease-in, opacity 0.25s linear;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

/* animations */

.zip {
  position: relative;
  opacity: 1;
}

.down {
  bottom: 20px;
  opacity: 0;
}

.center {
  bottom: 0;
}

.pressed {
  background-color: lightblue;
}
